spring:
  profiles:
    active: local
    group:
      local: local,common
      blue: blue,common,secret
      green: green,common,secret

server:
  env: blue

---

spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080
  serverAddress: localhost

serverName: local_server

---

spring:
  config:
    activate:
      on-profile: blue

server:
  port: 8080
  serverAddress: 13.124.233.39

serverName: blue_server

---

spring:
  config:
    activate:
      on-profile: green

server:
  port: 8081
  serverAddress: 13.124.233.39

serverName: green_server

---

server:
  servlet:
    encoding:
      charset: utf-8
      force: true

spring:
  config:
    activate:
      on-profile: common

  datasource:
    url: jdbc:mysql://${MYSQLHOST}:${MYSQLPORT}/${MYSQLDATABASE}?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&rewriteBatchedStatements=true
    username: ${MYSQLUSER}
    password: ${MYSQLPASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        connection:
          provider_disables_autocommit: false
          jdbc:
            batch_size: 100
          order_inserts: true
          order_updates: true
          batch_versioned_data: true
      default_batch_fetch_size: 100
    open-in-view: false

  data:
    redis:
      host: ${REDISHOST}
      port: ${REDISPORT}
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 2
      timeout: 3000ms

    cache:
      type: redis
      redis:
        time-to-live: 3600000
        cache-null-values: false

  task:
    execution:
      pool:
        core-size: 10
        max-size: 10
        queue-capacity: 100

kakao:
  api:
    key: ${KAKAO_REST_API_KEY}

google:
  api:
    key: ${GOOGLE_REST_API_KEY}
